.resumeGeneral {
    height: 12vh;
}

h3 {
    margin-bottom: 0px;
}

.name {
    font-weight: bold;
    font-size: 32px;
    margin: 35px 0px 0px 0px;
}

.resumeGeneralInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeGeneralInfo p {
    margin: 0px 7px;
    font-size: 15px;
}

.resumeEducation {
    min-height: 18vh;
}

.singleEducation {
    display: flex;
    flex-direction: column;
}

.topLine {
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
}

.dates {
    display: flex;
}

.school {
    font-weight: bold;
    font-size: 18px;
}

.degree {
    font-style: italic;
    font-size: 15px;
    text-align: left;
    padding-left: 7px;
    height: 5px;
    margin-top: -15px;
}

.resumeExperience {
    min-height: 18vh;
}

.title {
    font-style: italic;
    font-size: 15px;
    text-align: left;
    height: 5px;
    margin-right: 20px;
}

.responsibilities {
    font-size: 15px;
    max-width: 40vw;
    word-break: break-all;
    white-space: normal;
}

.bottomLine {
    display: flex;
    margin-top: -27px;
    padding: 0px 7px;
    /* height: 5px; */
}